* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'AppleGaramond-Light'; 
  src:  url('./fonts/AppleGaramond-Light.ttf') format('truetype'); 
}
@font-face {
  font-family: 'AppleGaramond-Regular';
  src: url('./fonts/AppleGaramond.ttf');
}
@font-face {
  font-family: 'AppleGaramond-LightItalic';
  src: url('./fonts/AppleGaramond-LightItalic.ttf');
}

@font-face {
  font-family: 'SometypeMono-Regular';
  src: url('./fonts/SometypeMono-Regular.ttf');
}

html, body {
  background-color: #fff;
  margin: 0;
  overflow-x: hidden;
  
}

.line1 {
  text-align: left;
  font-size: 35px;
  letter-spacing: -3em;
  font-weight: 400;
  position: relative;
  top: 140px;
  left: 150px;
  height: auto;
  /* padding: 20px; */
  font-family: "AppleGaramond-Light";
}
.line2 {
  text-align: left;
  font-size: 35px;
  letter-spacing: -3em;
  font-weight: 400;
  position: relative;
  top: 140px;
  left: 150px;
  height: auto;
  /* padding: 20px; */
  font-family: "AppleGaramond-Light";
}
.line3 {
  text-align: left;
  font-size: 35px;
  letter-spacing: -3em;
  font-weight: 400;
  position: relative;
  top: 140px;
  left: 150px;
  height: auto;
  /* padding: 20px; */
  font-family: "AppleGaramond-Light";
}
.line4 {
  text-align: left;
  font-size: 35px;
  letter-spacing: -3em;
  font-weight: 400;
  position: relative;
  top: 140px;
  left: 150px;
  height: auto;
  /* padding: 20px; */
  font-family: "AppleGaramond-Light";
}
.line5 {
  text-align: left;
  font-size: 35px;
  letter-spacing: -3em;
  font-weight: 400;
  position: relative;
  top: 140px;
  left: 150px;
  height: auto;
  /* padding: 20px; */
  font-family: "AppleGaramond-Light";
}

.heading-span12,
.heading-span13,
.heading-span14,
.heading-span15,
.heading-span16,
.heading-span165,
.heading-span17,
.heading-span18,
.heading-span185,
.heading-span19,
.heading-span20,
.heading-span205,
.heading-span206,
.heading-span21,
.featured_projects {
  background: (180deg, rgba(203, 90, 145, 1) 0%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "AppleGaramond-Light";
  font-size: 35px;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.heading-span13, 
.heading-span17 {
  font-family: "AppleGaramond-LightItalic";

}
.heading-span12,
.heading-span16,
.heading-span165,
.heading-span18,
.heading-span185,
.heading-span20,
.heading-span205,
.heading-span206,
.featured_projects {
  -webkit-text-fill-color: #CB5A91; 
}

.heading-span13,
.heading-span17 {
  -webkit-text-fill-color: #CB5A91;
}

.heading-span19,
.heading-span21 {
  -webkit-text-fill-color: #dd97b9; 
}

.heading-span14,
.heading-span15,
.heading-span22 {
  -webkit-text-fill-color: #f5bdd8; 
}

.heading span {
  display: inline-block;
  margin-right: 5px;
  line-height: 1.5;
}

.heading-span12,
.heading-span13,
.heading-span14,
.heading-span15,
.heading-span16 
{
  margin-top: 100px;

}

.heading-span165,
.heading-span17 {
  margin-top: 50px;
}

.pages {
  -webkit-text-fill-color: #453D3D; 
  position:absolute;
  font-family: "SometypeMono-Regular";
  word-spacing: 28px;
  top: 30px;
  left: 70px;
}

.status_line {
  -webkit-text-fill-color: #453D3D; 
  position:absolute;
  font-family: "SometypeMono-Regular";
  top: 400px;
  left: 150px;
}

a {
  text-decoration: none;
  color: #453D3D;
}

.featured {
  margin-top: 350px;
  margin-left: 150px;
}

.rectangle-2,
.rectangle-2 *,
.inner_rect,
.inner_rect * {
  box-sizing: border-box;
}

.rectangle-2 {
  background: #fff5fa;
  border-radius: 14px;
  height: 250px;
  width: 89%;
  border-color: #ffe8f3;
  border-width: 1px;
  border-style: solid;
  position: relative;
}

.inner_rect {
  background: #ffffff;
  border-radius: 14px;
  top: -220px;
  left: 30px;
  border-style: solid;
  border-color: #ffe8f3;
  border-width: 0.5px;
  width: 160px;
  height: 160px;
  position: relative;
}